gymnasium[mujoco,atari,accept-rom-license,box2d]~=0.28.1
miniworld
minigrid~=2.3.0
pprintpp
opencv-python
box2d-py
wandb~=0.15.4
numpy~=1.25.0
tqdm~=4.65.0
hydra-core
hydra-joblib-launcher
hydra-submitit-launcher

pygame~=2.5.0
setuptools~=67.8.0
omegaconf~=2.3.0
matplotlib~=3.7.2