gymnasium[mujoco,atari,accept-rom-license,box2d]~=0.29.1
miniworld
pprintpp
opencv-python
box2d-py
wandb~=0.15.0
numpy~=1.26.0
tqdm~=4.65.0
hydra-core
hydra-joblib-launcher
hydra-submitit-launcher

pygame~=2.5.0
setuptools~=68.0.0
omegaconf~=2.3.0
matplotlib~=3.8.0
seaborn~=0.13.1
scipy~=1.11.2
torch